@page "{id:int}"
@model aspnetcoreapp.Pages.DetailModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Details</h1>
    <div>
    <h4>Movie</h4>
    <hr />
    <table style="text-align: left;">
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
            <td>@Html.DisplayFor(model => model.ReleaseDate)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Genre)</th>
            <td>@Html.DisplayFor(model => model.Genre)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr>
            <td>
                    <a class="btn btn-default" href="/edit/@Model.ID">Edit</a>
                    <a class="btn btn-default" href="/index">Back to List</a>
            </td>
        </tr>
    </table>
</div>
</div>
